@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

* {
	box-sizing: border-box;

}

body {
	background-color: grey;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Fira Sans', sans-serif;

}

.appContainer {
	width: 390px;
	height: 844px;
	background-color: white;
}


no-scrollbar::-webkit-scrollbar {
	display: none;
  }
  
  .no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }